# Instantiate this template by copying it to api_app_credentials
# and filling in the App ID and App secret available at
# https://developers.pinterest.com/manage/

export PINTEREST_APP_ID="App ID goes here"
export PINTEREST_APP_SECRET="App secret goes here"

