-r requirements.txt

pytest==7.2.0
requests-mock~=1.9.3
black==24.3.0
flake8==5.0.4
isort==5.13.2
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
